@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #222;
}

.iframe i {
  font-size: 10em;
  color: #fff;
  text-shadow: 0 0 30px crimson, 0 0 60px crimson, 0 0 90px crimson,
    0 0 120px crimson;
  animation: hue-rotate 3s linear infinite;
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
